/*
body {
  background-color: #77A6F7;
}

/* .jumbotron {
  background-color: #D3E3FC;
} */
.jumbotron {
  background-color:#7EA0B7;
  color: #F4F1DE;
}

nav ul {
  margin: 0;
  padding: 0;
  padding-top: 4rem;
}

nav {
  margin: 0;
  padding: 0;
  padding-top: 2rem;
}

hr {
  margin: 0;
  padding-top: 0;
  padding-bottom: 4rem;
}

.chimehead {
  margin: 0 auto;
  margin-left: .5rem;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: .5rem;
  color: #F4F1DE;
}

.btn a {
  color: #0A1045;
}

.btn {
  color:  #597081;
  background-color: #C5EBC3;
  border-color: #C5EBC3;
}


h1 {
  font-family: 'Karla', sans-serif;
}

p,li,h2,a {
  font-family: 'Montserrat', sans-serif;
  color:#FFF4E9;
}

li {
  font-size: 1.6em;
  color:#FFF4E9;
}

.myform {
  justify-content: left;
}

.navbar-brand {
  font-size: 2.3em;
}

.navbar {
  background-color: #FFF4E9;
}

/* NAVBAR CSS */

.menu-btn div {
	position: absolute;
	left: 100%;
	top: 64%;
	padding-right: 8px;
	margin-top: -0.50em;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 200;
	vertical-align: middle;
	z-index: 99;
}

.menu-btn span {
	display: block;
	width: 19px;
	height: 3px;
	margin: 4px 0;
	background: rgb(0,0,0);
	z-index: 99;
}

.responsive-menu{
	display: none;
}

.expand {
	display: block !important;
}

/* TEAM PAGE CSS */


/* Three columns side by side */

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 10px 40px;
}


/* Display the columns below each other instead of side by side on small screens */
@media screen and (max-width: 1000px) {
  .column {
    width: 70%;
    display: block;
  }
}

/* Hide short text by default (resolution > 1200px) */
.short-text { display: none; }

/*  When resolution <= 1200px, hide full text and show short text */
@media (max-width: 1200px) and (min-width: 1000px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #597081;
  border-radius: 2%;
}

/* DARKBLUE: 0A1045 */

#staffcard {
  background-color: #8DB6CD;
  border-radius: 2%;
}

/* Some left and right padding inside the container */
.container {
  padding: 0 16px;
}

/* Clear floats */
.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 18%;
}

@media (max-width: 1000px){
  .button {
    width: 40%;
  }
}

.button:hover {
  background-color: #555;
}

/* Make all names fit in card */
#fullname {
  font-size: 27px;
}
