{% extends 'info/info_base.html' %}

{% block body_block %}
{% load static %}

<!-- MAIN JUMBOTRON -->
<div class="jumbotron">
  <h1>Meet Our Researchers</h1>
  <p>Our team at {{staff_detail.name}} </p>
</div>


  <div class="row">
  {% for person in staff_detail.employees.all %}


      <div class="column">
        <div class="card" id="staffcard">
          <img src='{{person.image.url}}' alt="Joanne" style="width:80%;border-radius:50%; display: block; margin-left: auto; margin-right: auto; padding-top:2rem;">
          <!-- border:1px solid white;  -->
          <div class="container">
            <h2>
              <span class="full-text" id="fullname">  <p>{{person.firstname}} <br>{{person.lastname}}</p></span>
              <span class="short-text">  <p>{{person.firstname}}</p></span>
            </h2>

            <p class="title">  <p class="subtext"><strong>{{person.title}}</strong></p></p>


            <span class="full-text">  <p class="subtext"><em>{{person.email}}</em></p></span>

            <!-- <p><button class="button"><a href="{{person.id}}/">Contact</a></button></p> -->

          </div>
        </div>
      </div>


  {% endfor %}
  </div>



{% endblock %}
