{% extends 'base.html' %}
{% block body_block %}

  <div class="jumbotron">
    <h1 class="display-4">Welcome to the CHIME Study</h1>
    <h2>California Health Impacts from Mining Exposure</h2>
    <br>
  </div>
  <iframe width="100%" height="800px" src="https://sierrastreams1.maps.arcgis.com/apps/MapJournal/index.html?appid=0995b7e47e1f4b5581adda62776c108e" frameborder="0" scrolling="no"></iframe>
    <!-- <p class="lead">We're looking into public health issues related to heavy metal pollutants
      from mining history in California's Northern Sierra region. The research is conducted by Nevada City based community environmental
      research non-profit <a href="https://sierrastreamsinstitute.org/">Sierra Streams Institute</a>,
      as well as partners at <a href="https://epibiostat.ucsf.edu/content/peggy-reynolds-phd">University of California San Francisco</a>, and <a href="https://profiles.arizona.edu/person/mdramire">University of Arizona.</a></p> -->
<div class="jumbotron">
    <hr class="my-4">
      <p>Interested? We are looking for women living in the Northern Sierra to participate!</p>

      <p class="lead">
    <a class="btn btn-primary btn-lg" href="{% url 'info:info' %}" role="button">Get Involved</a>
  </p>
</div>

{% endblock %}
